.user-profiles {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  max-width: 16.5rem;
  width: 100%;

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 0.625rem;
  }

  &__wrapper {
    display: flex;
    gap: 1.25rem;
    align-items: center;
  }
}
