@import "../../styles/app.scss";

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2.5rem;

  &__details {
    display: flex;
    gap: 3.375rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;

    &__item {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    &__title {
      width: 100px;
      min-width: 100px;
      text-align: left;
    }

    &__value {
      text-align: left;
    }
  }
}
