.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 146px;
  padding-right: 41px;
}

.btn_search {
  position: absolute;
  right: 41px;
  max-width: 55px;
  max-height: 55px;
  fill: var(--white-color);

  &:hover {
    fill: var(--primary-color-light);
  }

  &:active {
    fill: var(--primary-color);
  }
}
