@import "../../styles/app.scss";

.authorization {
  @include flex-column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 11.375rem;

  &-header {
    display: flex;
    width: 100%;
    padding-top: 3rem;
  }

  &-body {
    width: 100%;
    display: flex;
    justify-content: center
  }

  &__footer {
    @include flex-center;
  }
}
