@import '../../styles/app.scss';

.multi-select {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  &-value {
    display: flex;
    align-items: center;
    position: relative;

    &__item {
      width: 100%;
      background-color: var(--graphite-color);
      color: var(--white-color);
      font-size: 1rem;
      font-weight: 400;
      border: 2px solid transparent;
      border-radius: 0.625rem;
      outline: none;
      padding: 1rem 3.25rem 1rem 1.25rem;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;

      &_border {

        &_bottom {

          &_none {
            border-radius: 0.625rem 0.625rem 0 0;
          }
        }
      }

      &_padding {
        &_small {
          padding: 0.688rem 3.25rem 0.688rem 1.25rem
        }
      }
    }

    &__icon {
      position: absolute;
      right: 0.625rem;
    }

    &__placeholder {
      color: var(--secondary-color);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
    }

    &_error {
      border-color: var(--danger-color);
    }

    &__active-item {
      @include flex-center;
      background-color: var(--dark-color);
      padding: 5px;
      gap: 0.5rem;
      border-radius: 0.3rem;

      &-close {
        @include flex-center;
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;

        &:hover {
          background-color: var(--primary-color-light);
        }

        &:active {
          background-color: var(--primary-color);
        }
      }
    }
  }

  &-dropdown {
    @include flex-column;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;

    &_active {
      @include flex-column;
      opacity: 1;
      max-height: fit-content;
      transition-delay: 0s;
      max-height: 165px;
      overflow-y: auto;
      @include primary-scroll;
    }

    &__item {
      width: 100%;
      background-color: var(--graphite-color);
      color: var(--white-color);
      font-size: 1rem;
      font-weight: 400;
      border: 2px solid transparent;
      outline: none;
      padding: 1rem 1.25rem;
      text-align: left;
      display: flex;

      &_border {

        &_bottom {
          border-radius: 0 0 0.625rem 0.625rem;
        }
      }

      &:hover {
        background-color: var(--primary-color-light);
      }

      &:active {
        background-color: var(--primary-color);
      }
    }
  }

  &__label {
    display: flex;
    padding-bottom: 0.3rem;
  }
}
