@import '../../styles/app';

.select {
  @include flex-column;
  width: 100%;

  &-dropdown {
    @include flex-column;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;

    &_active {
      @include flex-column;
      opacity: 1;
      max-height: fit-content;
      transition-delay: 0s;
      max-height: 165px;
      overflow-y: auto;
      @include primary-scroll;
    }

    &__item {
      cursor: default;

      &:hover {
        background: var(--primary-color-light);
      }

      &:active {
        background: var(--primary-color);
      }
    }
  }

  &-value {

    &__item {
      cursor: default;
      position: relative;
    }
  }
}
