@import "../../styles/app.scss";

.reset-password {
  background-color: var(--dark-color);
  padding: 2.5rem;
  @include flex-column;
  gap: 1.5rem;
  border-radius: 0.625rem;
  min-width: 35.875rem;

  &__item {
    @include flex-column;
    gap: 0.5rem;
  }

  &__title {
    display: flex;
  }

  &__message {
    max-width: 30.875rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}
