@import '../../styles/app.scss';

.dashboard-movies {
  background-color: var(--dark-color);
  border-radius: 0.625rem;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
