@import "../../styles/app.scss";

.dashboard-panel {
  display: flex;
  width: 100%;

  &-nav {

    &__list {
      display: flex;
      gap: 2rem;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem;
    }
  }


}
