@import '../../styles/app.scss';

.rating {

  input {
    display: none;

    &:checked+label {
      fill: var(--primary-color);
    }
  }

  &-list {
    display: flex;
    gap: 0.5rem;

    &__item {
      @include flex-column;
      fill: var(--secondary-color);

      &:hover {
        fill: var(--primary-color-light);
      }

      &:active {
        fill: var(--primary-color);
      }
    }

    &__label {
      @include flex-column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
