* {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  --white-color: #fff;
  --dark-color: #000;
  --light-color: #AFB2B6;
  --secondary-color: #80858B;
  --graphite-color: #323537;
  --primary-color: #7B61FF;
  --primary-color-light: #917CFF;
  --success-color: #00A340;
  color: var(--white-color);
}
