@import "../../styles/app.scss";

.carousel {
  @include flex-column;
  width: 100%;

  &-header {
    display: flex;
    justify-content: space-between;

    &__arrow {
      display: flex;
      gap: 1rem;

      &-prev {
        fill: var(--light-color);

        &:hover {
          fill: var(--white-color);
        }
      }

      &-next {
        fill: var(--light-color);

        &:hover {
          fill: var(--white-color);
        }
      }
    }
  }

  &-body {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      flex: 0 0 22.7%;
      max-width: 22.7%;
    }
  }
}
