@import '../../styles/app.scss';

.dashboard-add-new-movie {
  @include flex-column;
  background-color: var(--dark-color);
  border-radius: 0.625rem;
  padding: 2rem;

  &__title {
    display: flex;
  }
}

.movie-form {
  @include flex-column;
  gap: 1.5rem;
  padding: 2.5rem;
  border-radius: 0.625rem;
  min-width: 35.875rem;

  &-preview {
    @include flex-column;
    gap: 0.3rem;
    border-radius: 0.625rem;

    &__item {
      @include flex-center;
      background-color: var(--graphite-color);
      border-radius: 0.625rem;
      padding: 1rem;
    }

    &__label {
      display: flex;
    }

    &__wrapper {
      width: 267.47px;
    }
  }

  &__btn {
    display: flex;
    gap: 5rem;
  }
}
