.search-form {
  width: calc(100% - 35.1rem);
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.btn_search {
  position: absolute;
  right: 0;
}
