@import "../../styles/app.scss";

.link-back {
  display: flex;

  &__item {
    fill: var(--secondary-color);

    &:hover {
      fill: var(--primary-color-light);
    }

    &:active {
      fill: var(--primary-color);
    }
  }
}
