@import "../../styles/app.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__content {
    @include flex-column;
    gap: 2rem;
    background: var(--dark-color);
    padding: 3rem 2.5rem;
    width: 518px;
    border-radius: 0.625rem;
  }

  &_filter {
    justify-content: end;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    @include flex-center;
  }

  &__footer {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
  }
}
