@import "../../styles/app.scss";

.tabs {
  @include flex-center;

  &__item {
    @include flex-center;
    border: 2px solid var(--graphite-color);
    max-width: 219px;
    width: 100%;
    border-right: 0;
    border-left: 0;
    padding: 16px 84px;
    color: var(--secondary-color);

    &_active {
      background-color: var(--graphite-color);
      color: var(--white-color);
    }

    &:hover {
      color: var(--white-color);
    }

    &:first-child {
      border-radius: 0.625rem 0 0 0.625rem;
      border-left: 2px solid var(--graphite-color);
    }

    &:last-child {
      border-radius: 0 0.625rem 0.625rem 0;
      border-right: 2px solid var(--graphite-color);
    }
  }
}
