@import "../../styles/app.scss";

.aside {
  @include flex-column;
}

.navbar {

  &__nav {
    @include flex-column;
    gap: 2.5rem;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
  color: var(--secondary-color);
  fill: var(--secondary-color);

  &:hover {
    color: var(--primary-color-light);
    fill: var(--primary-color-light);
  }

  &:active {
    color: var(--primary-color);
    fill: var(--primary-color);
  }
}
