@import '../../styles/app.scss';

.user-form {
  @include flex-column;
  gap: 1.5rem;
  padding: 2.5rem;
  border-radius: 0.625rem;
  min-width: 35.875rem;

  &__btn {
    width: 9.375rem;
  }

  &__btn-group {
    display: flex;
    gap: 5rem;
  }
}
