@import "../../styles/app.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__content {
    background: var(--dark-color);
    padding: 3rem 2.5rem;
    width: 518px;

    &_height {

      &_100 {
        height: 100%;
        overflow: auto;
      }
    }
  }

  &_filter {
    justify-content: end;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close-btn {
    max-width: 1.5rem;
    max-height: 1.625rem;
  }

  &__body {
    @include flex-center;
  }

  &__footer {
    display: flex;
    gap: 2.5rem;
    padding-top: 6rem;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.625rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--secondary-color);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--graphite-color);
    border-radius: 0.313rem;
  }
}

.filter-panel {
  @include flex-column;
  width: 100%;
  gap: 1.5rem;
  padding-top: 1.5rem;

  &__item {
    @include flex-column;

    &_flex-row {
      flex-direction: row;
      align-items: flex-end;
      gap: 2.5rem;
    }
  }

  &__wrapper {
    @include flex-column;
    width: 100%;
  }

  &__footer {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
  }
}

.react-select {

  &__control {
    background-color: var(--graphite-color) !important;
    border: 2px solid transparent !important;
    border-radius: 10px !important;
    padding: 7px 0px;

    &:active {
      box-shadow: 0 0 0 1px var(--graphite-color) !important;
    }
  }

  &__indicator-separator {
    display: none !important;
  }

  &__placeholder {
    text-align: left !important;
  }

  &__menu {
    background-color: var(--graphite-color) !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;

  }

  &__option {
    text-align: left !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    line-height: 1.5rem !important;

    &:hover {
      color: var(--primary-color) !important;
      background-color: var(--graphite-color) !important;
    }

    &--is-focused {
      color: var(--primary-color) !important;
      background-color: var(--graphite-color) !important;
    }
  }

  &__multi-value {
    background-color: var(--dark-color) !important;

    &__label {
      color: var(--white-color) !important;
    }

    &__input-container {
      color: var(--white-color) !important;
    }
  }

  &__single-value {
    color: var(--white-color) !important;
    text-align: left !important;
  }
}

.select-title {
  text-align: left;
  padding-bottom: 0.5rem;
}

.css-t3ipsp-control {
  box-shadow: none !important;
  border: 2px solid var(--primary-color) !important;

  &:hover {
    box-shadow: none;
    border: 2px solid var(--primary-color);
  }
}

.css-12a83d4-MultiValueRemove:hover {
  background-color: var(--primary-color-light) !important;
}

.css-12a83d4-MultiValueRemove:active {
  background-color: var(--primary-color) !important;
}

.css-w9q2zk-Input2 {
  color: var(--white-color) !important;
}

.css-feonkk-Input2 {
  color: var(--white-color) !important;
}

.css-1nmdiq5-menu {
  background-color: var(--graphite-color) !important;
}
