.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.5rem;

  &_bg {

    &_image {
      background-image: url('../../images/bg.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: inherit;
      height: 100vh;
      overflow: auto;
    }
  }

  @media (max-width: 1850px) {
    padding: 0 4.5rem;
  }

  @media (max-width: 1700px) {
    padding: 0 5rem;
  }

  @media (max-width: 1650px) {
    padding: 0 5.5rem;
  }

  @media (max-width: 1500px) {
    padding: 0 7rem;
  }

  @media (max-width: 1440px) {
    padding: 0 8rem;
  }

  @media (max-width: 1280px) {
    padding: 0 11.25rem;
  }

  @media (max-width: 1024px) {
    padding: 0 3rem;
  }
}
