* {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  --white-color: #fff;
  --black-color: #000;
  --light-color: #AFB2B6;
  --dark-color: #242426;
  --secondary-color: #80858B;
  --graphite-color: #323537;
  --graphite-color-light: #313a3d;
  --primary-color: #7B61FF;
  --primary-color-light: #917CFF;
  --success-color: #00A340;
  --danger-color: #dc3545;
  --danger-color-light: #dc6f7a;
  --yellow-color: #F3A608;
  color: var(--white-color);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
